h1{
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    width: 200px;
    margin: auto;
}
.col{
    background-color: red;
    border-right: 1px dotted black;
}
tbody{
    width: 200px;
    margin: auto;
}
.myimage{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    
}
img{
    margin-right: 2px;
}
.p-5{
    margin: 10px 25%;
}
.card{
    width: 50%;
    margin: auto;
}
.card-body{
    text-align: center;
}